body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #F5F5F5;
}
.borders {
    width: 200px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 3px gray;
    display: inline-block;
    align-items: center;
    /* flex-direction: column; */
}
.cost {
    font-size: 37px;
    font-weight: bold;
}
.per-month {
    color: #D3D1D5;
    opacity: 0.9;
}
.enterprise-top,
.enterprise-center,
.enterprice-bottom,
.proffesional-top,
.proffesional-center,
.proffesional-bottom,
.standard-top,
.standard-center,
.standard-bottom,
.basic-top, 
.basic-center, 
.basic-bottom {
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
    padding: 5px 0;
    /* background-color: red; */
}
.enterprise-top {
    border-bottom: 3px solid #C62E4F;
}
.proffesional-top {
    border-bottom: 3px solid #D58C33;
}
.standard-top {
    border-bottom: 3px solid #2B6689;
}
.basic-top {
    border-bottom: 3px solid #63BB34;
}
.header {
    font-weight: bold;
}
.enterprice-bottom,
.proffesional-bottom,
.standard-bottom,
.basic-bottom {
    margin-bottom: 15px;
}
h3 {
    font-size: 16px;
    margin: 10px;
}
h4 {
    font-size: 13px;
}
.enterprice-bottom button {
    background-color: #C62E4F;
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;   
}
.proffesional-bottom button {
    background-color: #D58C33;
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer; 
}
.standard-bottom button {
    background-color: #2B6689;
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer; 
}
.basic-bottom button {
    background-color: #63BB34;
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer; 
}