.main-text {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
h1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    margin: 10px;
    
}
.main-biography {
    font-size: 40px;
    background-color: aquamarine;
    text-align: center;
}