h4 {
    text-align: center;
    margin: 5px;
}
h1 {
    text-align: center;
}
div {
    display: inline-block;
    border: 1px rgb(184, 184, 184) solid;
    border-radius: 25px;
    padding: 25px;
    padding-bottom: 15px;
    margin: 5px;
    margin-bottom: 17px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 97%;
}